<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Apartment Facility Booking System Test Suite" parallel="false">
    <test name="All Tests" verbose="2">
        <classes>
            <class name="com.example.demo.ApartmentFacilityBookingSystemTest"/>
        </classes>
    </test>
</suite>